#closebtn{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border:none
}

.slidingMenu-content span{
    display: block;
}

.categoryImg{
    width: 50px;
}
.sliding-menu-item{
    text-decoration: none;
    color: black;
}